.akkordion-title {
	cursor: pointer;
}

.akkordion-outer {
	overflow: hidden;
	transition-property: height;
	transition-timing-function: ease-in-out;
	will-change: height;
}

.akkordion-content {
	box-sizing: border-box;
	overflow: hidden;
	height: 0;
}

.akkordion-active {
	height: auto;
}
